*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
<<<<<<< HEAD
=======
  :root {
    --primary: #bc4123;
    --secondary: #2b3452;
  }
>>>>>>> e055ced (full version)
  
  .wrapper{
    max-width: 1440px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .custom-form{
    width: 400px;
    height: auto;
    margin: 20px auto;
  }
  
  .input-and-btn{
    display: flex;
  }
  
  .todo-box{
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .todo-box .content{
    display: flex;
  }
  
  .todo-box .content p{
    margin-top: 2px;
    margin-left: 12px;
  }

  .todo-box .content input{
    margin-top: -12px;
    margin-left: 12px;
  }
  
  .todo-box span{
    margin: 0 5px;
  }
  
  .delete-all{
    width: 400px;
  }
  
  .actions-box{
    cursor: pointer;
  }
  
  .back-btn{
    margin-top: 5px;
    width: 100%;
<<<<<<< HEAD
=======
  }

  header nav{
    display: flex;
    gap: 16px;
    justify-content: end;
    max-width: 1200px;
    margin: 0 auto
  }

  header nav h1{
    margin-right: auto;
    border-bottom: 3px solid var(--primary) ;
  }

  header nav a {
    text-decoration: none;
    padding: 6px;
    border-radius: 4px;
  }

  header nav a.active{
    background: #F5F0BB;
>>>>>>> e055ced (full version)
  }